@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: firaCode;
    src: url('/fonts/fira_code.woff2');
  }

  @font-face {
    font-family: firaMono;
    src: url('/fonts/fira_mono.woff2');
  }

  @font-face {
    font-family: hemiHead;
    src: url('/fonts/hemi_head_bd_it.ttf');
  }

  @font-face {
    font-family: podiumSharp;
    src: url('/fonts/podiumsharp-3.7.otf');
  }

  @font-face {
    font-family: mocha;
    src: url('/fonts/mocha.ttf');
  }

  .reset-tailwind * {
    all: revert;
  }
}