@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: firaCode;
    src: url('/fonts/fira_code.woff2');
  }

  @font-face {
    font-family: firaMono;
    src: url('/fonts/fira_mono.woff2');
  }
}